<br/>
<div class="jumbotron">
  <div class="well">
    <h1>Bloccit</h1>
      <p>Bloccit is a resource for incessant trolling and severe disfunction!</p>
      <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      </p>
  </div>
</div>

<div class="well">
<div class="row">
  <div class="col-md-4">
    <h2>Is Evil!</h2>
    <p>Bloccit catagorically rejects Googles notion of doing no evil. Over here we love that shit!</p>
  </div>
  <div class="col-md-4">
    <h2>Bad Influence On Kids</h2>
    <p>We promise to put 4Chan and /b/ to shame; we never learned when the line is being crossed.</p>
  </div>
  <div class="col-md-4">
    <h2>Causes Carpal Tunnel</h2>
    <p>Our users are either typing fiercely, punching walls, or compulsivly conjugating the verb; activities which all tend to hurt the hands over time.</p>
  </div>
  </div>
</div>