<h1>New Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Avoid using any form of logic.</li>
      <li>Use the word "like", and "um" alot, it really reveals intellegence.</li>
      <li>If you begin to argue in the comments board, go straight to trolling, that always works!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>
</div>